.grid.principle.principle--chunks

  .headline
    %h2 Good security happens in small chunks

  .text
    %p Good security comes from constant, iterative effort.
    %p Make small changes that address the problems you need to solve, starting with the most urgent and important work, and learning as you go.
    %p Good approaches make small changes and observe their effects, because it’s rarely clear what the consequences of a given change will be.

  .logo
    = image_tag 'dxw-cyber-logo-white.svg'
