.grid.principle.principle--communication

  .headline
    %h2 Good security depends on good communication

  .text
    %p Good security is underpinned by regular, effective communication.
    %p Provide safe opportunities for people to bring up security in discussion, and make sure teams are able to discuss  it productively.
    %p Good approaches prioritise regular, timely communication, because security risk is complex and cannot be distilled into pithy titles and scores.

  .logo
    = image_tag 'dxw-cyber-logo-white.svg'
