.grid.principle.principle--everybody

  .headline
    %h2 Good security is everybody’s responsibility

  .text
    %p Good security is inclusive.
    %p When considering security questions, involve a broad group of people and help them to collaborate, form consensus, and share what they agree.
    %p Good approaches avoid working in isolation, because everyone involved in a process is involved in its security. If someone’s actions matter, so do their needs, motivations and opinions.

  .logo
    = image_tag 'dxw-cyber-logo-white.svg'
