.grid.principle.principle--never

  .headline
    %h2 Good security is never finished

  .text
    %p Good security looks incomplete.
    %p Prioritise being responsive over being comprehensive, and develop your ability to adapt to changing circumstances.
    %p Good approaches don’t look complete, because security is never finished. The appearance of being finished is bad, because it comes from poor prioritisation and leads to complacency.
