.grid.principle.principle--people

  .headline
    %h2 Good security is designed for people

  .text
    %p Good security is user-centred. Treat people as the guardians and protectors of security. Help them feel motivated, equipped and empowered to make more secure decisions.

    %p Good approaches don’t treat the people in a process as a problem to be solved or as a “weakest link”.
