.grid.principle.principle--resilient

  .headline
    %h2 Good security is resilient

  .text
    %p Good security builds resilience by embracing failure.
    %p Assume that failures will occur, think about how and when this might happen, and use the evidence and insights you have gained to build resilience into your systems.
    %p Good approaches build defence in depth because defenders of systems make mistakes, attackers need only one to succeed and avoiding all mistakes is an impossible standard.

  .logo
    = image_tag 'dxw-cyber-logo-white.svg'
