.grid.principle.principle--trust

  .headline
    %h2 Good security depends on trust

  .text
    %p Good security requires people to  be trusted.
    %p Instead of creating a policy or process for every situation, create and  share principles that describe the qualities of good decisions, and regularly discuss how to put them into practice.
    %p Good approaches don’t try to  eliminate trust. They define who to trust, and verify that continued trust is justified.
